aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
audioop-lts
beautifulsoup4
brotli
certifi
charset-normalizer
click
cobble
colorama
dataclasses-json
distro
docx2txt
fake-http-header
fastapi
ffmpy
filelock
frozenlist
fsspec
gradio
gradio_client
greenlet
groovy
groq
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
jsonpatch
jsonpointer
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
mammoth
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy_extensions
numpy
orjson
ormsgpack
packaging
pandas
pillow
playwright==1.49.1
prometheus_client
propcache
pydantic
pydantic-settings
pydantic_core
pydub
pyee
Pygments
pylatexenc
PyPDF2
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
redis
regex
requests
requests-toolbelt
rich
ruff
safehttpx
semantic-version
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
supabase
tavily-python
tenacity
tf-playwright-stealth
tiktoken
tomlkit
tqdm
typer
typer-slim
typing-inspect
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
websockets
xxhash
yarl
zstandard
weasyprint==68.1
google-genai
langchain-google-genai
slowapi
python-jose[cryptography]
